################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/EmpregaMais-API/.vs/EmpregaMais-API/FileContentIndex/6ab05baf-233c-4508-a543-8f58843d8513.vsidx
